:root[data-theme="light"]{
    --show-sun: block;
    --show-moon: none;
    --textAreaColor: #13265c;
    --colorPlaceholder: #00008b;
    --backgroundTexto: #E5E5E5;
    --footerColor: #13265c;
    --backgroundMensajes: #ffffff;
    --copiarDesencText: #13265c;
    --copiarDesencBackground: #D8DFE8;
    --encriptarText: #ffffff;
    --encriptarBackground: #13275d;
    --borderBoton: #13265c;
    --borderState: ridge;
    --hooverColor: #47478c;
    --bg-color: #E5E5E5;
    --animation-sun: rotate 15s linear infinite;
    --color-switcher: #c4c4c4;
    --color-active: #c4c4c4;
    --border-option: 20px solid #fff;
}

:root[data-theme="dark"]{
    --show-sun: none;
    --show-moon: block;
    --bg-color: #1b1b24;
    color: #ffffff;
    --textAreaColor: #ffffff;
    --colorPlaceholder: #ffffff;
    --backgroundTexto: #1b1b24;
    --footerColor: #ffffff;
    --backgroundMensajes: #1b1b24;
    --copiarDesencText: #ffffff;
    --copiarDesencBackground: #3d3f43;
    --encriptarText: #ffffff;
    --encriptarBackground: #3c3c68;
    --borderState: hidden;
    --hooverColor: #1f1f56;
    --logo: url("./Imagenes/whiteLogo.png");
    --animation-moon: show 4s alternate infinite both;
    --transform-option: translate(100%);
    --color-switcher: #3B95FF;
    --color-active: #3B95FF;
    --border-option: 20px solid #fff;
}


@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding y el border no afecten el tamaño total */
}

body{
    background-color: var(--bg-color);
    font-family: 'inter';
    transition: 1s; 
}

header :focus{
    outline-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; 
}

.logo{

    margin-top: 40px;
    margin-left: 85px;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.main__light,
.main__dark {
    margin-top: -60px;
    margin-left: auto;
    margin-right: 15vw; /* Cambia el margen derecho a una unidad relativa */
    width: max-content;
    display: inline-block;
    position: relative; /* Asegúrate de que el elemento esté posicionado correctamente */
}
.main__check {
    position: absolute;
    top: 30px;
    left: calc(100% - 290px); /* Ajusta la posición horizontal usando cálculos relativos */
    width: 50px;
    height: 80px;
    opacity: 0;
    cursor: pointer;
}

.main__light {
    display: var(--show-sun);
}

.main__dark {
    display: var(--show-moon);
}

.main__theme::after {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    gap: 10px; /* Espacio entre los elementos, ajusta según sea necesario */
}

#sun {
    animation: var(--animation-sun, none);
    transform-box: fill-box;
    transform-origin: center;
}

[id^="star"] {
    animation: var(--animation-moon, none);
}

#star2 {
    animation-delay: .7s;
}

#star3 {
    animation-delay: 1.4s;
}



#logo2 {
    margin-top: -20px; /* Ajusta el margen superior negativo para subir la imagen */
}

.principal{
    width: 90%;
    margin: auto;
    
}

.btn-help{
    position: fixed;
    right: 12px;
    bottom: 12px;
    z-index: 99;
    background-color: var(--bg-color);;
    color: var(--colorPlaceholder);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 2px #10101031;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.texto{
    height: 5%;
    margin: 2% auto 0;
    display: inline-block;
    font-size: 32px;
    color: var(--textAreaColor);
    border: none;
    background-color: var(--backgroundTexto) ;
    resize: none;
    transition: 1s;
}

.texto2{
    margin-left: 120px;
}


textarea:focus{
    outline: none !important;
}

::placeholder{
    color: var(--colorPlaceholder);
    opacity: 0.5;
}

.modosVisuales{
    background: var(--darkMode);
    height: 50px;
    width: 50px;
    margin: 20px 80px auto;
    float: right;
    cursor: pointer;
}

.resultado{
    float: right;
    background-color: var(--backgroundMensajes);
    text-align: center;
    width: 25%;
    height: 90%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    transition: 1s;

}

.resultado img{
    width: 80%;
}

.advertencia img {
    vertical-align: middle; /* Ajusta el ícono verticalmente al medio del texto */
    margin-bottom: 2px; /* Ajusta este valor para bajar el ícono horizontalmente */
}


#muneco{
    visibility: visible;
    
}

.resultado_inicial{
    font-size: 24px;
    font-weight: bold;
}
    
.resultado_inicial_2{
    margin: 2%;
    font-size: 16px;
}

#resultado_mensaje{
    padding: 30px 20px;
}

#texto_resultado{
    width: 100%;
    height: 329px;
    font-size: 24px;
    color: #808080;
    text-align: left;
    visibility: visible;
    background-color: var(--backgroundMensajes);
    display: none;
}

#mensaje_inicial{
    visibility: visible;
}

#mensaje_inicial_2{
    visibility: visible;
}

.copiar {
    margin: 2%;
    width: 40%;
    padding: 3% 0;
    font-size: 16px;
    border: var(--borderState);
    color: var(--copiarDesencText);
    background-color: var(--copiarDesencBackground);
    border-radius: 15px;
    border-width: thin;
    border-color: var(--borderBoton);
    transition: 1s all;
    cursor: pointer;
    display: none;
}

.botones{
    display: block;
    justify-content: flex-start; /* Mueve los elementos al principio del contenedor */
    align-items: center;
    gap: 100px; /* Espacio entre los botones */
    margin-left: 10%; /* Ajusta el margen para mover a la derecha */
    
}

.advertencia{
    font-size: 12px;
    color: #808080;
    margin-bottom: 1%;
}

.encriptar{

    margin: auto;
    width: 20%;
    padding: 1% 0;
    font-size: 16px;
    color: var(--encriptarText);
    border: none;
    background-color: var(--encriptarBackground);
    border-radius: 15px;
    transition: 1s all;
    cursor: pointer;
    
}


.desencriptar{
    margin-left: 2%;
    width: 20%;
    padding: 1% 0;
    font-size: 16px;
    border: var(--borderState);
    color: var(--copiarDesencText);
    background-color: var(--copiarDesencBackground);
    border-width: thin;
    border-color: var(--borderBoton);
    border-radius: 15px;
    transition: 1s all;
    cursor: pointer;
}

.encriptar:hover, .desencriptar:hover, .copiar:hover{
    background-color: var(--hooverColor);
}

footer{
    text-align: center;
    margin: 1%;
    color: var(--footerColor);
    transition: 1s;
}

a{
    color: var(--footerColor);
    text-decoration-line: none;
    transition: 1s;
}


/* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080; /* Fondo oscuro semitransparente */
    justify-content: center;
    align-items: center;
}
  
.modal-content {
    background-color: var(--bg-color);;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #00000033;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    height: auto;
    width: 25%; /* Ancho del modal en pantallas grandes */
    margin: 15% auto; /* Margen para centrar verticalmente en pantallas grandes */
    animation: scaleAnimation 2s infinite;
}
  
.close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    outline: none; 
    user-select: none; 
    -webkit-tap-highlight-color: transparent; 
}
  
.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.preload .principal {
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
}


#preloader_4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);; 
    z-index: 9999; 
}

#preloader_4 span {
    width: 20px;
    height: 20px;
    background: #3498db;
    opacity: 0.5;
    border-radius: 20px;
    animation: preloader_4 1s infinite ease-in-out;
}

#preloader_4 span:nth-child(2) {
    animation-delay: 0.2s;
}

#preloader_4 span:nth-child(3) {
    animation-delay: 0.4s;
}

#preloader_4 span:nth-child(4) {
    animation-delay: 0.6s;
}

#preloader_4 span:nth-child(5) {
    animation-delay: 0.8s;
}

.driver-popover-next-btn {

    color: var(--hooverColor)!important;
    border-radius: 5px !important;
    border: 2px solid var(--footerColor)!important;
}

.driver-popover-prev-btn {
    color: var(--hooverColor)!important;
    border-radius: 5px !important;
    border: 2px solid var(--footerColor)!important;
}

.driver-popover-close-btn {
    color: #000000 !important;
    border-radius: 5px !important;
}

.driver-popover {
    background-color: var(--bg-color)!important;
    color: var(--footerColor) !important;
    border-radius: 8px !important;
    border: 2px solid var(--colorPlaceholder) !important;
}


@keyframes preloader_4 {
    0%, 100% {
        opacity: 0.3;
        transform: translateY(0px);
        box-shadow: 0px 0px 3px #0000001a;
    }
    50% {
        opacity: 1;
        transform: translateY(-10px);
        background: #f1c40f;
        box-shadow: 0px 20px 3px #0000000d;
    }
}
.principal {
    opacity: 1; 
    transition: opacity 1s ease-in-out; 
}   

@media screen and (max-width:1024px){

    .logo{
        margin: 10% auto;
    }


    .texto,.botones,.texto2{
        display: block;
        width: 100%;
        margin: 5% auto;
    }

    #texto_usuario{
        height: 5em;
    }

    #texto_resultado{
        height: 5em;
    }

    .resultado{
        width: 100%;
        float: none;
        display: block;
        margin: auto;
    }

    .resultado_mensaje{
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .encriptar,.desencriptar{
        width: 45%;
        margin: 2%;
        padding: 2% 0;
    }

    .desencriptar:hover, .copiar:hover{
        background-color: #d8dfe8;
    }

    .encriptar:hover{
        background-color: #00008b;
    }

    #muneco{
        display: none;
    }

    .modal-content {
        width: 80%;
        margin: 15% auto; 
    }

    #preloader_4 span {
        width: 15px;
        height: 15px;
    }

    #preloader_4 span:nth-child(2) {
        left: 15px;
    }

    #preloader_4 span:nth-child(3) {
        left: 30px;
    }

    #preloader_4 span:nth-child(4) {
        left: 45px;
    }

    #preloader_4 span:nth-child(5) {
        left: 60px;
    }

    .main__light, .main__dark {
        margin-right: 1vw; 
        margin-top: -170px;
    }

    .main__check {
        left: calc(100% - 80px); 
        top: 11vw;
        width: 50px; 
        height: 50px;
        opacity: 0;
        outline: none; 
        user-select: none; 
        -webkit-tap-highlight-color: transparent; 
    }

}


@media screen and (max-width: 768px) {
    .main__light, .main__dark {
        margin-right: 1vw; 
        margin-top: -150px;
    }

    .main__check {
        left: calc(100% - 70px); 
        top: 10vw;
        width: 50px; 
        height: 60px; 
        opacity: 0;
        outline: none; 
        user-select: none; 
        -webkit-tap-highlight-color: transparent; 
    }
}


@media screen and (max-width: 480px) {
    .main__light, .main__dark {
        margin-right: 1vw; 
        margin-top: -105px;
    }

    .main__check {
        left: calc(100% - 95px); 
        top: 12vw;
        width: 100px; 
        height: 50px; 
        opacity: 0;
        outline: none; 
        user-select: none; 
        -webkit-tap-highlight-color: transparent; 
    }
}